@import "tailwindcss";

@keyframes fade-slide {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  30% {
    opacity: 1;
    transform: translateY(0%);
  }
  70% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}

.animate-fade-slide {
  animation: fade-slide 2s infinite;
}
